@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

* {
    font-family: "Roboto";
    box-sizing: border-box;
    margin:0 5px;;
}

/* universal */
.clearfix{
    clear: both;
  }

b {
    color: rgb(208, 74, 73);
}

/* nav bar */

/* Position */
nav {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height: 60px;
    background-color: #C12127;
    color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

.top-links {
    display: inline-block;
    float: right;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
    top:20px;
}

.top-left {
    display: inline-block;
    float: left;
    position: relative;
    top:20px;
    margin-left: 15px;
}

/* Section 1 */

/* Position */
header {
    position: relative;
    width:100%;
    height:400px;
    background-color: rgb(32, 101, 136);
    color: white;
}

.box1 {
    background-image: url("images/city-scape.svg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.header-content {
    text-align: left;
    width:30%;
    height: auto;
    margin-left: 300px;
    position: relative;
    top: 80px;
}

.orangeButton {
color:white;
background-color: rgb(240, 146, 51);
border: 5px solid rgb(240, 146, 51);
border-radius: 20px;
display: block;
text-align:center;
width: 150px;
position: relative;
top: 20px;
}

/* Search Bar */
.search {
    display: inline-block;
    position: relative;
    width:100%;
    height:50px;
    box-sizing: border-box;
}

.search a,input {
    color: white;
    float:right;
    position: relative;
    top: 10px;
    padding: 10px;
}

.search input {
    background-color: rgb(31, 82, 111);
    width: 70%;
    float: left;
    margin-left: 100px;
}

.searchImg {
    height: 40px;
    width: auto;
    float:right;
    position: relative;
    top: 8px;
}

.npm-logo {
    width: 100px;
    height: auto;
    float: left;
    position: relative;
    top: 15px;
    padding-left: 10px;
}

.search-button {
    color:white;
    background-color: rgb(203, 56, 55);
    border: 5px solid rgb(203, 56, 55);
    border-radius: 20px;
    text-align:center;
    width: 90px;
    position: relative;
    top:15px ;
    padding-left: 20px;
    }


/* Section2:collab */
/* Position */
.collab-box {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(39, 53, 71);
}

.redButton {
    color:white;
    background-color: rgb(203, 56, 55);
    border: 5px solid rgb(203, 56, 55);
    border-radius: 20px;
    display: block;
    text-align:center;
    width: 150px;
    margin-left:50px;
    position: relative;
    top: 20px;
}

.collabImg {
width: 400px;
height: auto;
position: relative;
top: 15%;
margin-left: 350px;
}

.collab-content {
    float:right;
    text-align: left;
    color:white;
    width:30%;
    height: auto;
    position: relative;
    bottom:35%;
    margin-right: 350px;
    display:block;
}

.collab-p {
    position: relative;
    top: 30px;
}
/* Section3 */
/* Position */
.sec3-box {
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url("images/forklift.svg");
    background-repeat: no-repeat;
}

.sec3-content {
    color: white;
    width: 20%;
    position: relative;
    top:100px;
    margin-left:400px;
}


.blueButton {
    color:white;
    background-color: rgb(49, 68, 88);
    border: 5px solid rgb(49, 68, 88);
    border-radius: 20px;
    display: block;
    text-align:center;
    width: 150px;
    margin-left:50px;
}

/* Section4 */
.sec4-box {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: white;
}

.sec4-header {
    color: black;
    text-align: center;
    position: relative;
    height:80px;
    top: 20px;
}

.row {
    width: 100%;
    height: 280px;
    position: relative;
    top:20px;
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
}

.sec4-p {
    position: relative;
    top:20px;
}